:root {
  --text-color: #fcd0cd;
  --background-color: blue;
  --accent-color:  #FCEDDA;
  /* --accent-color: #f0f4f5; */
}

/* .navbar__logo a {
  text-decoration: none;
  color: var(--accent-color)
} */

.navbar__menu a {
  text-decoration: none;
  color:  #FCEDDA;
}

.navbar {
  font-weight: 700;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ee4e34;
  padding: 4px 12px;
  position: fixed;
  width: 100%;
  height: auto;
}
  
.navbar__logo {
  font-size: 35px;
  padding-left: 20px;
}

.navbar__logo i {
  color:#008D45 ;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0s;
}
.navbar__menu li {
  padding: 8px 50px;
  font-weight: 550;
}
    
.navbar__menu a:hover, .navbar__icons:hover {
    /* background-color: var(--accent-color);
    border-radius: 4px; */
    color: #ffffff;
    transition: color 0.5s;
}

.navbar__icons {
  list-style: none;
  color: var(--text-color);
  display: flex;
}

.navbar__icons li {
  padding: 8px 12px;
}

.navbar__icons i {
  padding: auto;
  padding-right: 0;
}

/* 반응형 코드 */

.navbar__toogleBtn {
  display: none;
  position: absolute;
  right: 70px;
  font-size: 24px;
  color: var(--accent-color);
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li {
    text-align: center;
    width: 100%;
  }

  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar__toogleBtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }

  /* 메뉴버튼 동작 */

  /* input[class="navbar__menuicon"] {
    display: none;
    position: absolute;
  }
  input[class="navbar__menuicon"] + label {
    display: block;
    height: 60px;
    width: 40px;
    cursor:pointer;
    background-color: #d49466;
  }
  input[class="navbar__menuicon"] + label span {
    display: block;
    position: absolute;
    height: 5px;
    border-radius: 30px;
    background-color: #d49466;
    transition: all .35s;
  }
  input[class="navbar__menuicon"] + label span:nth-child(1) {
    top:0;
  }
  input[class="navbar__menuicon"] + label span:nth-child(2) {
    top:50%;
    transform: translateY(-50%);
  }
  input[class="navbar__menuicon"] + label span:nth-child(3) {
    bottom:0;
  }
  input[class="navbar__menuicon"]:checked + label span:nth-child(1) {
    top:50%;
    transform: translateY(-50%) rotate(45deg);
  }
  input[class="navbar__menuicon"]:checked + label span:nth-child(2) {
    opacity: 0;
  }
  input[class="navbar__menuicon"]:checked + label span:nth-child(3) {
    bottom:50%;
    transform: translateY(50%) rotate(-45deg);
  }

  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 8px 24px;
    }

    .navbar__menu {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .navbar__menu li {
      width: 100%;
      text-align: center;
    }
  
    .navbar__icons {
      display: none;
      justify-content: center;
      width: 100%;
    }
  
    .navbar__menuicon label span {
      display: block;
    }
  
    .navbar__menu.active,
    .navbar__icons.active {
      display: flex;
    } */
}