.navbar__menu {
    margin : auto;
}

#wrap{
    min-width: 1280px;
    overflow: hidden;
}
  
body {
    position: relative;
    font-family: 'UNPGothicKS';
}

.inner-container {
    width : 1250px;
    margin : auto;
}
#section2 {
    padding-top: 80px;
}
@font-face {
    font-family: 'UNPGothicKS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/UNPGothicKS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}