.navbar__menu {
    margin : auto;
}

#wrap{
    min-width: 1280px;
    overflow: hidden;
}
  
body {
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
}
  
.inner-container {
    width : 1250px;
    margin : auto;
}

#section2 {
    padding-top: 80px;
}