#wrap{
    min-width: 1280px;
    overflow: hidden;
}
  
body {
    position: relative;
    font-family: 'MaruBuri-Regular';
    font-weight: normal;
    font-style: normal;
}

.CTP {
    background-color: coral;
    height: 1000px;
}

.ctptext {
    color: black;
    text-align: right;
    letter-spacing: 0px;
    margin-right: 10%;
    padding-top: 10%;
    font-size: xx-large;
}

.CTPbox button {
    width: 200px;
    height: 200px;
    background: #FFDE9C;
    border-radius: 50%;
    text-align: center;
    outline: none;
    border: none;
    font-size: 25px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    margin: 10% 5%;
}

.CLASS {
    display: inline-table;
    overflow: hidden;
}

.CLASS:hover {
    background-color: black;
    opacity: 50%;
    color: white;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }  

.CLASS::before {
    display:block;
    content: '';
    transition: all .35s;
    z-index: 1;
    top:0;
}


.CLASS span {
    position: absolute;
    z-index: 2;
}

.CLASSSsection {
    width: auto;
    height: 800px;
    background-color: cornflowerblue;
}

.PERSONALsection {
    width: auto;
    height: 800px;
    background-color: gold;
}

.TEAMsection {
    width: auto;
    height: 800px;
    background-color: hotpink;
}