:root {
    --text-color: #fcd0cd;
    --background-color: #fe4c40;
    --accent-color: #ffffff;
  }
  
  .section4 {
    background-color: #F95700;
    width: auto;
    height: 400px;
    z-index: 4;
}

.email {
text-align: center;
font-size: 40px;
padding-top: 400px;
transform: translateY(-50%);
}

.email a {
    color:black;
}