.section3, .section3-2, .section3-3 {
    width: auto;
    height: auto;
    z-index: 2;
}
.section3 {background-color:#9EFFD2;
padding-top:50px;}
.section3-2 {background-color:#77E6B2;}
.section3-3 {background-color:#45CC8D;}

.gallerylist {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

ul {font-size: 0;}

ul > li {
    display: inline-block;
    vertical-align: top;
    width: 33.3%;
    margin-bottom: 10px;
}

ul > li > a {
    display: block;
    width: auto;
    text-decoration: none;
    margin: 5px;
}

ul > li > a .screen {
    position: relative;
    overflow: hidden;
}

ul > li > a .screen .top{
    position: absolute;
    bottom: 150%;
    left: 30px;
    z-index: 2;
    color: #fff;
    font-size: 26px;
    font-weight: 900;
    transition: all .35s;
}

ul > li > a .screen .bottom {
    position: absolute;
    top: 150%;
    left: 30px;
    z-index: 2;
    color: #fff;
    font-size: 12px;
    transition: all .35s;
}

ul > li > a .screen img {
    width: 100%;
}

ul > li > a h3 {
    font-size: 14px;
    text-align: center;
    padding: 20px;
    color: #666;
}

ul > li > a:hover .top {bottom:52%;}

ul > li > a:hover .bottom {top:52%;}

ul > li > a .screen::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 1;
    opacity: 0;
    transition: all .35s;
}

ul > li > a:hover .screen::after {
    opacity: 1;
}

.projects {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
    padding-top: 50px;
}
/* 
.projectbox {
    display: flex;
    margin-top: 60px;
    line-height: 15px;
}

.w19M3,.w19M4, .w20M1, .thecard {
    width: 333.34px;
    height: 300px;
    background-color: white;
}

.w19M4, .w20M1 {
    margin-left: 10%;
}

.text1{
    font-size: 15px;
    padding: 0 15px;
    padding-top: 20px;
    color: black;
}

.text2{
    margin-top: 10px;
    font-size: 13px;
    padding: 0 15px;
    color: rgb(112, 112, 112);
}

.text3{
    font-size: 11px;
    padding: 0 15px;
    margin-top: 15px;
    color: rgb(112, 112, 112);
}

.thecard {
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background: yellow;
}

.thecard:hover {
    transform: rotateY(180deg);
}

.thefront {
    backface-visibility: hidden;
    background: #ffc728;
    color: #333;
}

.theback {
    top:0;
    position:absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: red;
    color: #333;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: all 0.5s ease;
} */