.section2 {
    background-color: red;
    width: auto;
    height: 800px;
    z-index: 3;
}

.profile {
    margin-top: 15px;
    font-size: 40px;
    color: #000000;
    font-weight: 600;
}

.section2 img {
    position: absolute;
    width: 430px;
    height: 430px;
    border-radius: 50%;
    object-fit: cover;
    margin: 4.6% auto;
    border: 1px solid #0000001A;
  }

.profiletext {
    color: #000000;
    letter-spacing: 0px;
}

.one {
    width: 155%;
    margin: 10% auto;
    text-align: center;
    font-size: 50px;
}
.two {
    width: 155%;
    margin:10% auto;
    text-align: center;
}

.readmorebtn {
    margin: 15% 70%;
    width: 180px;
    height: 80px;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 2px;
    color: white;
}